In [1]:
import duckdb
import pandas as pd

In [36]:
con = duckdb.connect(database='dados_duckdb.db', read_only=False)

In [37]:
#ver todas as tabelas do banco de dados_duckdb.db
df_tables = con.execute("SHOW TABLES").fetchdf()
df_tables.head()

              name
0  bronze_produtos
1     bronze_z0019
2     dim_produtos
3         produtos

In [38]:
df = con.execute('SELECT * FROM produtos').fetchdf()

In [39]:
df2 = df.drop(columns=['id_categoria', 'id_fornecedor'] )

In [40]:
con.execute("""
            DROP TABLE IF EXISTS dim_produtos""")

In [41]:
con.execute("""CREATE TABLE IF NOT EXISTS dim_produtos (
id_produto BIGINT,
nm_produto VARCHAR,
vl_preco DECIMAL
);"""
)

In [42]:
con.execute("INSERT INTO dim_produtos SELECT * FROM df2")

In [43]:
df_dim_produtos = con.execute('SELECT * FROM dim_produtos').fetchdf()
df_dim_produtos.head()

   id_produto nm_produto  vl_preco
0       10002    MARTELO    1500.0
1       10003      PREGO      50.0
2       10004      SERRA     200.0
3       10005   MACHADDO     100.0
4       10001   PARAFUSO     100.0

In [44]:
con.close()